eFORMAT: 1A
HOST: http://api.myre.domain/api/v1/

# Myre - Web

Myre utilizes JWT Authentication which generates token on user sign in. Token is required for most requests.
Token can be send as `token` parameter as query string or as header in such format `Authorization: Bearer {system-generated-token}`.

When sending request with body of JSON headers should contain `Content-Type: application/json`.

## Group User Access
## Sign In [/auth/login]
### Sign in[POST]
Attempt to login and get user token.
`token` is NOT required.

+ Request (application/json)

        {
            "email": "admin@super.com",
            "password": "password"
        }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Login has been successfully.",
                "data": {
                    "userType": "admin",
                    "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjEsImlzcyI6Imh0dHA6XC9cL21pZy5teXJlLmFwaVwvYXBpXC92MVwvYXV0aFwvbG9naW4iLCJpYXQiOjE0OTkxNDk4ODUsImV4cCI6MTUyODE4MDI4NSwibmJmIjoxNDk5MTQ5ODg1LCJqdGkiOiJmZ0xjTzUyRkJralU4VTk4In0.JCdkONitJsqWtJ1DNmU26evr3xXHBp3UsNDRq9xtpS0",
                    "user": {
                        "id": 1,
                        "civility": false,
                        "lastName": null,
                        "firstName": null,
                        "email": "admin@super.com",
                        "mobilePhone": null,
                        "officePhone": null,
                        "jobTitle": null,
                        "guest": false,
                        "customer": false,
                        "active": true,
                        "profilPicPath": null,
                        "company": {
                            "id": 0,
                            "address": 0,
                            "fullName": null,
                            "tradeName": null,
                            "raisonSociale": 0,
                            "intercommunityVat": null,
                            "naf": null,
                            "siren": null,
                            "vat": null,
                            "vatOption": null
                        }
                    },
                    "role": [
                        "user.create",
                        "user.read",
                        "user.delete",
                        "user.update",
                        "building.create",
                        "building.read",
                        "building.delete",
                        "building.update",
                        "role.create",
                        "role.read",
                        "role.delete",
                        "role.update",
                        "lot.create",
                        "lot.read",
                        "lot.delete",
                        "lot.update",
                        "bail.create",
                        "bail.read",
                        "bail.delete",
                        "bail.update",
                        "portofolio.create",
                        "portofolio.read",
                        "portofolio.delete",
                        "portofolio.update",
                        "admin.read",
                        "access.create",
                        "access.update"
                    ]
                }
            }

## Sign Out [/auth/logout]
### Sign Out (NOT IMPLEMENTED YET) [POST]
Log out from application clear token on server
`token` is NOT required.

+ Response 200

        {
        }

## Reset Password [/auth/reset]
### Reset Password [POST]
Reset User Password by e-mail.
`token` is NOT required.

+ Request (application/json)

        {
            "email": "admin@super.com"
        }

+ Response 200 (application/json)

    + Body
            
            {
                "code": 0,
                "message": "Reset Password Successfully. The New Password Has Been Sent To Email",
                "data": {
                    "email": "admin@super.com"
                }
            }


## Group My / Current Logged User

Resource related to current logged in user.
`token` is required.

## Profile Detail [/my/profile?]
### Profile Detail [GET]
Get Profile detail.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
            
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 1,
                    "civility": false,
                    "lastName": null,
                    "firstName": null,
                    "email": "admin@super.com",
                    "mobilePhone": null,
                    "officePhone": null,
                    "jobTitle": null,
                    "guest": false,
                    "customer": false,
                    "active": true,
                    "profilPicPath": null,
                    "company": {
                        "id": 0,
                        "address": 0,
                        "fullName": null,
                        "tradeName": null,
                        "raisonSociale": 0,
                        "intercommunityVat": null,
                        "naf": null,
                        "siren": null,
                        "vat": null,
                        "vatOption": null
                    }
                }
            }


## Profile Update [/my/profile]
### Profile Detail [POST]
Update Profile Detail

+ Request (application/json)

        {
            "civility": "mr",
            "lastName": "Nom_Adminss",
            "firstName": "Prenom_Admins",
            "email": "admin@super.com",
            "mobilePhone": "4321",
            "officePhone": "12312",
            "jobTitle": "Admin"
        }

+ Response 200 (application/json)

    + Body
            
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 1,
                    "civility": true,
                    "lastName": "Nom_Adminss",
                    "firstName": "Prenom_Admins",
                    "email": "admin@super.com",
                    "mobilePhone": "4321",
                    "officePhone": "12312",
                    "jobTitle": "Admin",
                    "guest": false,
                    "customer": false,
                    "active": true,
                    "profilPicPath": null,
                    "company": {
                        "id": 0,
                        "address": 0,
                        "fullName": null,
                        "tradeName": null,
                        "raisonSociale": 0,
                        "intercommunityVat": null,
                        "naf": null,
                        "siren": null,
                        "vat": null,
                        "vatOption": null
                    }
                }
            }

## Group Users for Super Admin

User resource for super-admin
`token` is required.
`role:super-admin` is required.

## User Create [/users]
### User Create [POST]
Create User

+ Request (application/json)

        {
            "isGuest": false,
            "isCustomer": false,
            "isActive": true,
            "civility": "mrs",
            "firstName": "Syiwa",
            "lastName": "Tes",
            "email": "syiwa.ws@smooets.com",
            "company": {
                "id": 9,
                "address": {
                    "id": 34,
                    "address1": "Paris",
                    "address2": null,
                    "zipcode": "83470",
                    "city": "Var",
                    "country": "Prancis",
                    "lat": 43.4941437,
                    "lng": 5.8932809
                },
                "fullName": "TEST 12",
                "tradeName": "TEST14JULY",
                "raisonSociale": {
                    "id": 1,
                    "code": "M01",
                    "label": "SOCIETE"
                },
                "intercommunityVat": "TSET11001010",
                "naf": "TEST10101010",
                "siren": null,
                "vat": null,
                "vatOption": 1
            },
            "customers": [
                {
                    "id": 14,
                    "fullName": "Ellison Harmon LLC",
                    "tradeName": "Freya Chang",
                    "vatOption": 0,
                    "active": 1,
                    "intercommunityVat": "315",
                    "vat": null,
                    "siren": null,
                    "naf": "1307007",
                    "iban": "FR7630004003200001019471656",
                    "accountName": "Bo Ewing",
                    "swift": "FRFRFR76300",
                    "addressOption": 1,
                    "addresses": [
                        {
                            "id": 19,
                            "addressType": "headquarter",
                            "address": {
                                "id": 52,
                                "address1": "54 West Clarendon Parkway",
                                "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                "zipcode": "80534",
                                "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                "lat": 48.6670602,
                                "lng": 1.8179955
                            }
                        },
                        {
                            "id": 20,
                            "addressType": "billing",
                            "address": {
                                "id": 53,
                                "address1": "40 Old Court",
                                "address2": "Iusto et minus quaerat quia at sint aut eligendi minima mollitia minus in ut expedita aliquid mollitia",
                                "zipcode": "55185",
                                "city": "Nulla perferendis sint itaque voluptas doloribus nisi fuga Similique pariatur Expedita qui aliquam excepturi cupiditate deserunt voluptatem",
                                "country": "Natus quas tempore excepteur expedita praesentium tempore ea",
                                "lat": 48.6670602,
                                "lng": 1.8179955
                            }
                        }
                    ],
                    "customerImg": [
                        ""
                    ],
                    "created_at": "2017-07-15 12:32:57",
                    "contact": {
                        "id": 10,
                        "civility": "mrs",
                        "lastName": "Newton",
                        "firstName": "Stuart",
                        "email": "dozuda@yahoo.com",
                        "mobilePhone": "472161442896",
                        "officePhone": "663774958368",
                        "jobTitle": "Magna exercitationem nesciunt blanditiis aut labore nulla",
                        "isGuest": false,
                        "isCustomer": true,
                        "isActive": true,
                        "profilePicPath": null,
                        "customers": [
                            14
                        ],
                        "roles": [
                            2
                        ],
                        "company": {
                            "id": 12,
                            "address": {
                                "id": 52,
                                "address1": "54 West Clarendon Parkway",
                                "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                "zipcode": "80534",
                                "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                "lat": 48.6670602,
                                "lng": 1.8179955
                            },
                            "fullName": "Ellison Harmon LLC",
                            "tradeName": "Freya Chang",
                            "raisonSociale": {
                                "id": 16,
                                "code": "M44",
                                "label": "MUTUELLE"
                            },
                            "intercommunityVat": "315",
                            "naf": "1307007",
                            "siren": null,
                            "vat": null,
                            "vatOption": 0
                        }
                    },
                    "raisonSociale": {
                        "id": 16,
                        "code": "M44",
                        "label": "MUTUELLE"
                    },
                    "company": {
                        "id": 12,
                        "address": {
                            "id": 52,
                            "address1": "54 West Clarendon Parkway",
                            "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                            "zipcode": "80534",
                            "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                            "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                            "lat": 48.6670602,
                            "lng": 1.8179955
                        },
                        "fullName": "Ellison Harmon LLC",
                        "tradeName": "Freya Chang",
                        "raisonSociale": {
                            "id": 16,
                            "code": "M44",
                            "label": "MUTUELLE"
                        },
                        "intercommunityVat": "315",
                        "naf": "1307007",
                        "siren": null,
                        "vat": null,
                        "vatOption": 0
                    }
                }
            ],
            "jobTitle": "CEO",
            "roles": [
                {
                    "name": "Broker",
                    "description": "Broker",
                    "permissions": {
                        "user": [
                            "create",
                            "delete",
                            "update",
                            "read"
                        ],
                        "building": [
                            "create",
                            "delete",
                            "update",
                            "read"
                        ]
                    }
                },
                {
                    "id": 2,
                    "name": "Admin Client",
                    "slug": "admin-client",
                    "description": null,
                    "protected": true,
                    "permissions": {
                        "user": [
                            "create",
                            "delete",
                            "update",
                            "read"
                        ],
                        "building": [
                            "create",
                            "delete",
                            "update",
                            "read"
                        ]
                    }
                }
            ]
        }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 5,
                    "isGuest": false,
                    "isCustomer": false,
                    "isActive": true,
                    "civility": "mrs",
                    "firstName": "Syiwa",
                    "lastName": "Tes",
                    "email": "syiwa.ws@smooets.com",
                    "company": {
                        "id": 9,
                        "address": {
                            "id": 34,
                            "address1": "Paris",
                            "address2": null,
                            "zipcode": "83470",
                            "city": "Var",
                            "country": "Prancis",
                            "lat": 43.4941437,
                            "lng": 5.8932809
                        },
                        "fullName": "TEST 12",
                        "tradeName": "TEST14JULY",
                        "raisonSociale": {
                            "id": 1,
                            "code": "M01",
                            "label": "SOCIETE"
                        },
                        "intercommunityVat": "TSET11001010",
                        "naf": "TEST10101010",
                        "siren": null,
                        "vat": null,
                        "vatOption": 1
                    },
                    "customers": [
                        {
                            "id": 14,
                            "fullName": "Ellison Harmon LLC",
                            "tradeName": "Freya Chang",
                            "vatOption": 0,
                            "active": 1,
                            "intercommunityVat": "315",
                            "vat": null,
                            "siren": null,
                            "naf": "1307007",
                            "iban": "FR7630004003200001019471656",
                            "accountName": "Bo Ewing",
                            "swift": "FRFRFR76300",
                            "addressOption": 1,
                            "addresses": [
                                {
                                    "id": 19,
                                    "addressType": "headquarter",
                                    "address": {
                                        "id": 52,
                                        "address1": "54 West Clarendon Parkway",
                                        "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                        "zipcode": "80534",
                                        "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                        "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                        "lat": 48.6670602,
                                        "lng": 1.8179955
                                    }
                                },
                                {
                                    "id": 20,
                                    "addressType": "billing",
                                    "address": {
                                        "id": 53,
                                        "address1": "40 Old Court",
                                        "address2": "Iusto et minus quaerat quia at sint aut eligendi minima mollitia minus in ut expedita aliquid mollitia",
                                        "zipcode": "55185",
                                        "city": "Nulla perferendis sint itaque voluptas doloribus nisi fuga Similique pariatur Expedita qui aliquam excepturi cupiditate deserunt voluptatem",
                                        "country": "Natus quas tempore excepteur expedita praesentium tempore ea",
                                        "lat": 48.6670602,
                                        "lng": 1.8179955
                                    }
                                }
                            ],
                            "customerImg": [
                                ""
                            ],
                            "created_at": "2017-07-15 12:32:57",
                            "contact": {
                                "id": 10,
                                "civility": "mrs",
                                "lastName": "Newton",
                                "firstName": "Stuart",
                                "email": "dozuda@yahoo.com",
                                "mobilePhone": "472161442896",
                                "officePhone": "663774958368",
                                "jobTitle": "Magna exercitationem nesciunt blanditiis aut labore nulla",
                                "isGuest": false,
                                "isCustomer": true,
                                "isActive": true,
                                "profilePicPath": null,
                                "customers": [
                                    14
                                ],
                                "roles": [
                                    2
                                ],
                                "company": {
                                    "id": 12,
                                    "address": {
                                        "id": 52,
                                        "address1": "54 West Clarendon Parkway",
                                        "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                        "zipcode": "80534",
                                        "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                        "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                        "lat": 48.6670602,
                                        "lng": 1.8179955
                                    },
                                    "fullName": "Ellison Harmon LLC",
                                    "tradeName": "Freya Chang",
                                    "raisonSociale": {
                                        "id": 16,
                                        "code": "M44",
                                        "label": "MUTUELLE"
                                    },
                                    "intercommunityVat": "315",
                                    "naf": "1307007",
                                    "siren": null,
                                    "vat": null,
                                    "vatOption": 0
                                }
                            },
                            "raisonSociale": {
                                "id": 16,
                                "code": "M44",
                                "label": "MUTUELLE"
                            },
                            "company": {
                                "id": 12,
                                "address": {
                                    "id": 52,
                                    "address1": "54 West Clarendon Parkway",
                                    "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                    "zipcode": "80534",
                                    "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                    "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                    "lat": 48.6670602,
                                    "lng": 1.8179955
                                },
                                "fullName": "Ellison Harmon LLC",
                                "tradeName": "Freya Chang",
                                "raisonSociale": {
                                    "id": 16,
                                    "code": "M44",
                                    "label": "MUTUELLE"
                                },
                                "intercommunityVat": "315",
                                "naf": "1307007",
                                "siren": null,
                                "vat": null,
                                "vatOption": 0
                            }
                        }
                    ],
                    "jobTitle": "CEO",
                    "roles": [
                        {
                            "id": 1,
                            "name": "Super Admin",
                            "slug": "super-admin",
                            "description": null,
                            "protected": true,
                            "permissions": [
                                {
                                    "user.create": true
                                },
                                {
                                    "user.read": true
                                },
                                {
                                    "user.update": true
                                },
                                {
                                    "user.delete": true
                                },
                                {
                                    "role.create": true
                                },
                                {
                                    "role.read": true
                                },
                                {
                                    "role.update": true
                                },
                                {
                                    "role.delete": true
                                },
                                {
                                    "portfolio.create": true
                                },
                                {
                                    "portfolio.read": true
                                },
                                {
                                    "portfolio.update": true
                                },
                                {
                                    "portfolio.delete": true
                                },
                                {
                                    "property.create": true
                                },
                                {
                                    "property.read": true
                                },
                                {
                                    "property.update": true
                                },
                                {
                                    "property.delete": true
                                },
                                {
                                    "lot.create": true
                                },
                                {
                                    "lot.read": true
                                },
                                {
                                    "lot.update": true
                                },
                                {
                                    "lot.delete": true
                                },
                                {
                                    "bail.create": true
                                },
                                {
                                    "bail.read": true
                                },
                                {
                                    "bail.update": true
                                },
                                {
                                    "bail.delete": true
                                },
                                {
                                    "prospect.create": true
                                },
                                {
                                    "prospect.read": true
                                },
                                {
                                    "prospect.update": true
                                },
                                {
                                    "prospect.delete": true
                                },
                                {
                                    "competitor.create": true
                                },
                                {
                                    "competitor.read": true
                                },
                                {
                                    "competitor.update": true
                                },
                                {
                                    "competitor.delete": true
                                },
                                {
                                    "admin.read": true
                                },
                                {
                                    "access.create": true
                                },
                                {
                                    "access.update": true
                                }
                            ],
                            "customer": {
                                "id": 0,
                                "fullName": null,
                                "tradeName": null,
                                "vatOption": null,
                                "active": null,
                                "intercommunityVat": null,
                                "vat": null,
                                "siren": null,
                                "naf": null,
                                "iban": null,
                                "accountName": null,
                                "swift": null,
                                "addressOption": null,
                                "addresses": [],
                                "customerImg": [
                                    ""
                                ],
                                "created_at": ""
                            }
                        }
                    ]
                }
            }

## User Detail [/users/{id}?]
### User Detail [GET]
Get User Detail

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 5,
                    "isGuest": false,
                    "isCustomer": false,
                    "isActive": true,
                    "civility": "mrs",
                    "firstName": "Syiwa",
                    "lastName": "Tes",
                    "email": "syiwa.ws@smooets.com",
                    "company": {
                        "id": 9,
                        "address": {
                            "id": 34,
                            "address1": "Paris",
                            "address2": null,
                            "zipcode": "83470",
                            "city": "Var",
                            "country": "Prancis",
                            "lat": 43.4941437,
                            "lng": 5.8932809
                        },
                        "fullName": "TEST 12",
                        "tradeName": "TEST14JULY",
                        "raisonSociale": {
                            "id": 1,
                            "code": "M01",
                            "label": "SOCIETE"
                        },
                        "intercommunityVat": "TSET11001010",
                        "naf": "TEST10101010",
                        "siren": null,
                        "vat": null,
                        "vatOption": 1
                    },
                    "customers": [
                        {
                            "id": 14,
                            "fullName": "Ellison Harmon LLC",
                            "tradeName": "Freya Chang",
                            "vatOption": 0,
                            "active": 1,
                            "intercommunityVat": "315",
                            "vat": null,
                            "siren": null,
                            "naf": "1307007",
                            "iban": "FR7630004003200001019471656",
                            "accountName": "Bo Ewing",
                            "swift": "FRFRFR76300",
                            "addressOption": 1,
                            "addresses": [
                                {
                                    "id": 19,
                                    "addressType": "headquarter",
                                    "address": {
                                        "id": 52,
                                        "address1": "54 West Clarendon Parkway",
                                        "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                        "zipcode": "80534",
                                        "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                        "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                        "lat": 48.6670602,
                                        "lng": 1.8179955
                                    }
                                },
                                {
                                    "id": 20,
                                    "addressType": "billing",
                                    "address": {
                                        "id": 53,
                                        "address1": "40 Old Court",
                                        "address2": "Iusto et minus quaerat quia at sint aut eligendi minima mollitia minus in ut expedita aliquid mollitia",
                                        "zipcode": "55185",
                                        "city": "Nulla perferendis sint itaque voluptas doloribus nisi fuga Similique pariatur Expedita qui aliquam excepturi cupiditate deserunt voluptatem",
                                        "country": "Natus quas tempore excepteur expedita praesentium tempore ea",
                                        "lat": 48.6670602,
                                        "lng": 1.8179955
                                    }
                                }
                            ],
                            "customerImg": [
                                ""
                            ],
                            "created_at": "2017-07-15 12:32:57",
                            "contact": {
                                "id": 10,
                                "civility": "mrs",
                                "lastName": "Newton",
                                "firstName": "Stuart",
                                "email": "dozuda@yahoo.com",
                                "mobilePhone": "472161442896",
                                "officePhone": "663774958368",
                                "jobTitle": "Magna exercitationem nesciunt blanditiis aut labore nulla",
                                "isGuest": false,
                                "isCustomer": true,
                                "isActive": true,
                                "profilePicPath": null,
                                "customers": [
                                    14
                                ],
                                "roles": [
                                    2
                                ],
                                "company": {
                                    "id": 12,
                                    "address": {
                                        "id": 52,
                                        "address1": "54 West Clarendon Parkway",
                                        "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                        "zipcode": "80534",
                                        "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                        "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                        "lat": 48.6670602,
                                        "lng": 1.8179955
                                    },
                                    "fullName": "Ellison Harmon LLC",
                                    "tradeName": "Freya Chang",
                                    "raisonSociale": {
                                        "id": 16,
                                        "code": "M44",
                                        "label": "MUTUELLE"
                                    },
                                    "intercommunityVat": "315",
                                    "naf": "1307007",
                                    "siren": null,
                                    "vat": null,
                                    "vatOption": 0
                                }
                            },
                            "raisonSociale": {
                                "id": 16,
                                "code": "M44",
                                "label": "MUTUELLE"
                            },
                            "company": {
                                "id": 12,
                                "address": {
                                    "id": 52,
                                    "address1": "54 West Clarendon Parkway",
                                    "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                    "zipcode": "80534",
                                    "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                    "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                    "lat": 48.6670602,
                                    "lng": 1.8179955
                                },
                                "fullName": "Ellison Harmon LLC",
                                "tradeName": "Freya Chang",
                                "raisonSociale": {
                                    "id": 16,
                                    "code": "M44",
                                    "label": "MUTUELLE"
                                },
                                "intercommunityVat": "315",
                                "naf": "1307007",
                                "siren": null,
                                "vat": null,
                                "vatOption": 0
                            }
                        }
                    ],
                    "jobTitle": "CEO",
                    "roles": [
                        {
                            "id": 1,
                            "name": "Super Admin",
                            "slug": "super-admin",
                            "description": null,
                            "protected": true,
                            "permissions": [
                                {
                                    "user.create": true
                                },
                                {
                                    "user.read": true
                                },
                                {
                                    "user.update": true
                                },
                                {
                                    "user.delete": true
                                },
                                {
                                    "role.create": true
                                },
                                {
                                    "role.read": true
                                },
                                {
                                    "role.update": true
                                },
                                {
                                    "role.delete": true
                                },
                                {
                                    "portfolio.create": true
                                },
                                {
                                    "portfolio.read": true
                                },
                                {
                                    "portfolio.update": true
                                },
                                {
                                    "portfolio.delete": true
                                },
                                {
                                    "property.create": true
                                },
                                {
                                    "property.read": true
                                },
                                {
                                    "property.update": true
                                },
                                {
                                    "property.delete": true
                                },
                                {
                                    "lot.create": true
                                },
                                {
                                    "lot.read": true
                                },
                                {
                                    "lot.update": true
                                },
                                {
                                    "lot.delete": true
                                },
                                {
                                    "bail.create": true
                                },
                                {
                                    "bail.read": true
                                },
                                {
                                    "bail.update": true
                                },
                                {
                                    "bail.delete": true
                                },
                                {
                                    "prospect.create": true
                                },
                                {
                                    "prospect.read": true
                                },
                                {
                                    "prospect.update": true
                                },
                                {
                                    "prospect.delete": true
                                },
                                {
                                    "competitor.create": true
                                },
                                {
                                    "competitor.read": true
                                },
                                {
                                    "competitor.update": true
                                },
                                {
                                    "competitor.delete": true
                                },
                                {
                                    "admin.read": true
                                },
                                {
                                    "access.create": true
                                },
                                {
                                    "access.update": true
                                }
                            ],
                            "customer": {
                                "id": 0,
                                "fullName": null,
                                "tradeName": null,
                                "vatOption": null,
                                "active": null,
                                "intercommunityVat": null,
                                "vat": null,
                                "siren": null,
                                "naf": null,
                                "iban": null,
                                "accountName": null,
                                "swift": null,
                                "addressOption": null,
                                "addresses": [],
                                "customerImg": [
                                    ""
                                ],
                                "created_at": ""
                            }
                        }
                    ]
                }
            }

## User List [/users?]
### User List [GET]
Get User list

+ Request (application/json)

+ Response 200 (application/json)

    + Body
            
            {
                "code": 0,
                "message": "Success",
                "data": [
                    {
                        "id": 5,
                        "isGuest": false,
                        "isCustomer": false,
                        "isActive": true,
                        "civility": "mrs",
                        "firstName": "Syiwa",
                        "lastName": "Tes",
                        "email": "syiwa.ws@smooets.com",
                        "company": {
                            "id": 9,
                            "address": {
                                "id": 34,
                                "address1": "Paris",
                                "address2": null,
                                "zipcode": "83470",
                                "city": "Var",
                                "country": "Prancis",
                                "lat": 43.4941437,
                                "lng": 5.8932809
                            },
                            "fullName": "TEST 12",
                            "tradeName": "TEST14JULY",
                            "raisonSociale": {
                                "id": 1,
                                "code": "M01",
                                "label": "SOCIETE"
                            },
                            "intercommunityVat": "TSET11001010",
                            "naf": "TEST10101010",
                            "siren": null,
                            "vat": null,
                            "vatOption": 1
                        },
                        "customers": [
                            {
                                "id": 14,
                                "fullName": "Ellison Harmon LLC",
                                "tradeName": "Freya Chang",
                                "vatOption": 0,
                                "active": 1,
                                "intercommunityVat": "315",
                                "vat": null,
                                "siren": null,
                                "naf": "1307007",
                                "iban": "FR7630004003200001019471656",
                                "accountName": "Bo Ewing",
                                "swift": "FRFRFR76300",
                                "addressOption": 1,
                                "addresses": [
                                    {
                                        "id": 19,
                                        "addressType": "headquarter",
                                        "address": {
                                            "id": 52,
                                            "address1": "54 West Clarendon Parkway",
                                            "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                            "zipcode": "80534",
                                            "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                            "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                            "lat": 48.6670602,
                                            "lng": 1.8179955
                                        }
                                    },
                                    {
                                        "id": 20,
                                        "addressType": "billing",
                                        "address": {
                                            "id": 53,
                                            "address1": "40 Old Court",
                                            "address2": "Iusto et minus quaerat quia at sint aut eligendi minima mollitia minus in ut expedita aliquid mollitia",
                                            "zipcode": "55185",
                                            "city": "Nulla perferendis sint itaque voluptas doloribus nisi fuga Similique pariatur Expedita qui aliquam excepturi cupiditate deserunt voluptatem",
                                            "country": "Natus quas tempore excepteur expedita praesentium tempore ea",
                                            "lat": 48.6670602,
                                            "lng": 1.8179955
                                        }
                                    }
                                ],
                                "customerImg": [
                                    ""
                                ],
                                "created_at": "2017-07-15 12:32:57",
                                "contact": {
                                    "id": 10,
                                    "civility": "mrs",
                                    "lastName": "Newton",
                                    "firstName": "Stuart",
                                    "email": "dozuda@yahoo.com",
                                    "mobilePhone": "472161442896",
                                    "officePhone": "663774958368",
                                    "jobTitle": "Magna exercitationem nesciunt blanditiis aut labore nulla",
                                    "isGuest": false,
                                    "isCustomer": true,
                                    "isActive": true,
                                    "profilePicPath": null,
                                    "customers": [
                                        14
                                    ],
                                    "roles": [
                                        2
                                    ],
                                    "company": {
                                        "id": 12,
                                        "address": {
                                            "id": 52,
                                            "address1": "54 West Clarendon Parkway",
                                            "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                            "zipcode": "80534",
                                            "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                            "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                            "lat": 48.6670602,
                                            "lng": 1.8179955
                                        },
                                        "fullName": "Ellison Harmon LLC",
                                        "tradeName": "Freya Chang",
                                        "raisonSociale": {
                                            "id": 16,
                                            "code": "M44",
                                            "label": "MUTUELLE"
                                        },
                                        "intercommunityVat": "315",
                                        "naf": "1307007",
                                        "siren": null,
                                        "vat": null,
                                        "vatOption": 0
                                    }
                                },
                                "raisonSociale": {
                                    "id": 16,
                                    "code": "M44",
                                    "label": "MUTUELLE"
                                },
                                "company": {
                                    "id": 12,
                                    "address": {
                                        "id": 52,
                                        "address1": "54 West Clarendon Parkway",
                                        "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                        "zipcode": "80534",
                                        "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                        "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                        "lat": 48.6670602,
                                        "lng": 1.8179955
                                    },
                                    "fullName": "Ellison Harmon LLC",
                                    "tradeName": "Freya Chang",
                                    "raisonSociale": {
                                        "id": 16,
                                        "code": "M44",
                                        "label": "MUTUELLE"
                                    },
                                    "intercommunityVat": "315",
                                    "naf": "1307007",
                                    "siren": null,
                                    "vat": null,
                                    "vatOption": 0
                                }
                            }
                        ],
                        "jobTitle": "CEO",
                        "roles": [
                            {
                                "id": 1,
                                "name": "Super Admin",
                                "slug": "super-admin",
                                "description": null,
                                "protected": true,
                                "permissions": [
                                    {
                                        "user.create": true
                                    },
                                    {
                                        "user.read": true
                                    },
                                    {
                                        "user.update": true
                                    },
                                    {
                                        "user.delete": true
                                    },
                                    {
                                        "role.create": true
                                    },
                                    {
                                        "role.read": true
                                    },
                                    {
                                        "role.update": true
                                    },
                                    {
                                        "role.delete": true
                                    },
                                    {
                                        "portfolio.create": true
                                    },
                                    {
                                        "portfolio.read": true
                                    },
                                    {
                                        "portfolio.update": true
                                    },
                                    {
                                        "portfolio.delete": true
                                    },
                                    {
                                        "property.create": true
                                    },
                                    {
                                        "property.read": true
                                    },
                                    {
                                        "property.update": true
                                    },
                                    {
                                        "property.delete": true
                                    },
                                    {
                                        "lot.create": true
                                    },
                                    {
                                        "lot.read": true
                                    },
                                    {
                                        "lot.update": true
                                    },
                                    {
                                        "lot.delete": true
                                    },
                                    {
                                        "bail.create": true
                                    },
                                    {
                                        "bail.read": true
                                    },
                                    {
                                        "bail.update": true
                                    },
                                    {
                                        "bail.delete": true
                                    },
                                    {
                                        "prospect.create": true
                                    },
                                    {
                                        "prospect.read": true
                                    },
                                    {
                                        "prospect.update": true
                                    },
                                    {
                                        "prospect.delete": true
                                    },
                                    {
                                        "competitor.create": true
                                    },
                                    {
                                        "competitor.read": true
                                    },
                                    {
                                        "competitor.update": true
                                    },
                                    {
                                        "competitor.delete": true
                                    },
                                    {
                                        "admin.read": true
                                    },
                                    {
                                        "access.create": true
                                    },
                                    {
                                        "access.update": true
                                    }
                                ],
                                "customer": {
                                    "id": 0,
                                    "fullName": null,
                                    "tradeName": null,
                                    "vatOption": null,
                                    "active": null,
                                    "intercommunityVat": null,
                                    "vat": null,
                                    "siren": null,
                                    "naf": null,
                                    "iban": null,
                                    "accountName": null,
                                    "swift": null,
                                    "addressOption": null,
                                    "addresses": [],
                                    "customerImg": [
                                        ""
                                    ],
                                    "created_at": ""
                                }
                            }
                        ]
                    },
                    {
                        "id": 7,
                        "isGuest": false,
                        "isCustomer": false,
                        "isActive": true,
                        "civility": "mrs",
                        "firstName": "Astuti",
                        "lastName": "Wati",
                        "email": "astuti@smooets.com",
                        "company": {
                            "id": 9,
                            "address": {
                                "id": 34,
                                "address1": "Paris",
                                "address2": null,
                                "zipcode": "83470",
                                "city": "Var",
                                "country": "Prancis",
                                "lat": 43.4941437,
                                "lng": 5.8932809
                            },
                            "fullName": "TEST 12",
                            "tradeName": "TEST14JULY",
                            "raisonSociale": {
                                "id": 1,
                                "code": "M01",
                                "label": "SOCIETE"
                            },
                            "intercommunityVat": "TSET11001010",
                            "naf": "TEST10101010",
                            "siren": null,
                            "vat": null,
                            "vatOption": 1
                        },
                        "customers": [
                            {
                                "id": 14,
                                "fullName": "Ellison Harmon LLC",
                                "tradeName": "Freya Chang",
                                "vatOption": 0,
                                "active": 1,
                                "intercommunityVat": "315",
                                "vat": null,
                                "siren": null,
                                "naf": "1307007",
                                "iban": "FR7630004003200001019471656",
                                "accountName": "Bo Ewing",
                                "swift": "FRFRFR76300",
                                "addressOption": 1,
                                "addresses": [
                                    {
                                        "id": 19,
                                        "addressType": "headquarter",
                                        "address": {
                                            "id": 52,
                                            "address1": "54 West Clarendon Parkway",
                                            "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                            "zipcode": "80534",
                                            "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                            "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                            "lat": 48.6670602,
                                            "lng": 1.8179955
                                        }
                                    },
                                    {
                                        "id": 20,
                                        "addressType": "billing",
                                        "address": {
                                            "id": 53,
                                            "address1": "40 Old Court",
                                            "address2": "Iusto et minus quaerat quia at sint aut eligendi minima mollitia minus in ut expedita aliquid mollitia",
                                            "zipcode": "55185",
                                            "city": "Nulla perferendis sint itaque voluptas doloribus nisi fuga Similique pariatur Expedita qui aliquam excepturi cupiditate deserunt voluptatem",
                                            "country": "Natus quas tempore excepteur expedita praesentium tempore ea",
                                            "lat": 48.6670602,
                                            "lng": 1.8179955
                                        }
                                    }
                                ],
                                "customerImg": [
                                    ""
                                ],
                                "created_at": "2017-07-15 12:32:57",
                                "contact": {
                                    "id": 10,
                                    "civility": "mrs",
                                    "lastName": "Newton",
                                    "firstName": "Stuart",
                                    "email": "dozuda@yahoo.com",
                                    "mobilePhone": "472161442896",
                                    "officePhone": "663774958368",
                                    "jobTitle": "Magna exercitationem nesciunt blanditiis aut labore nulla",
                                    "isGuest": false,
                                    "isCustomer": true,
                                    "isActive": true,
                                    "profilePicPath": null,
                                    "customers": [
                                        14
                                    ],
                                    "roles": [
                                        2
                                    ],
                                    "company": {
                                        "id": 12,
                                        "address": {
                                            "id": 52,
                                            "address1": "54 West Clarendon Parkway",
                                            "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                            "zipcode": "80534",
                                            "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                            "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                            "lat": 48.6670602,
                                            "lng": 1.8179955
                                        },
                                        "fullName": "Ellison Harmon LLC",
                                        "tradeName": "Freya Chang",
                                        "raisonSociale": {
                                            "id": 16,
                                            "code": "M44",
                                            "label": "MUTUELLE"
                                        },
                                        "intercommunityVat": "315",
                                        "naf": "1307007",
                                        "siren": null,
                                        "vat": null,
                                        "vatOption": 0
                                    }
                                },
                                "raisonSociale": {
                                    "id": 16,
                                    "code": "M44",
                                    "label": "MUTUELLE"
                                },
                                "company": {
                                    "id": 12,
                                    "address": {
                                        "id": 52,
                                        "address1": "54 West Clarendon Parkway",
                                        "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                        "zipcode": "80534",
                                        "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                        "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                        "lat": 48.6670602,
                                        "lng": 1.8179955
                                    },
                                    "fullName": "Ellison Harmon LLC",
                                    "tradeName": "Freya Chang",
                                    "raisonSociale": {
                                        "id": 16,
                                        "code": "M44",
                                        "label": "MUTUELLE"
                                    },
                                    "intercommunityVat": "315",
                                    "naf": "1307007",
                                    "siren": null,
                                    "vat": null,
                                    "vatOption": 0
                                }
                            }
                        ],
                        "jobTitle": "CEO",
                        "roles": [
                            {
                                "id": 1,
                                "name": "Super Admin",
                                "slug": "super-admin",
                                "description": null,
                                "protected": true,
                                "permissions": [
                                    {
                                        "user.create": true
                                    },
                                    {
                                        "user.read": true
                                    },
                                    {
                                        "user.update": true
                                    },
                                    {
                                        "user.delete": true
                                    },
                                    {
                                        "role.create": true
                                    },
                                    {
                                        "role.read": true
                                    },
                                    {
                                        "role.update": true
                                    },
                                    {
                                        "role.delete": true
                                    },
                                    {
                                        "portfolio.create": true
                                    },
                                    {
                                        "portfolio.read": true
                                    },
                                    {
                                        "portfolio.update": true
                                    },
                                    {
                                        "portfolio.delete": true
                                    },
                                    {
                                        "property.create": true
                                    },
                                    {
                                        "property.read": true
                                    },
                                    {
                                        "property.update": true
                                    },
                                    {
                                        "property.delete": true
                                    },
                                    {
                                        "lot.create": true
                                    },
                                    {
                                        "lot.read": true
                                    },
                                    {
                                        "lot.update": true
                                    },
                                    {
                                        "lot.delete": true
                                    },
                                    {
                                        "bail.create": true
                                    },
                                    {
                                        "bail.read": true
                                    },
                                    {
                                        "bail.update": true
                                    },
                                    {
                                        "bail.delete": true
                                    },
                                    {
                                        "prospect.create": true
                                    },
                                    {
                                        "prospect.read": true
                                    },
                                    {
                                        "prospect.update": true
                                    },
                                    {
                                        "prospect.delete": true
                                    },
                                    {
                                        "competitor.create": true
                                    },
                                    {
                                        "competitor.read": true
                                    },
                                    {
                                        "competitor.update": true
                                    },
                                    {
                                        "competitor.delete": true
                                    },
                                    {
                                        "admin.read": true
                                    },
                                    {
                                        "access.create": true
                                    },
                                    {
                                        "access.update": true
                                    }
                                ],
                                "customer": {
                                    "id": 0,
                                    "fullName": null,
                                    "tradeName": null,
                                    "vatOption": null,
                                    "active": null,
                                    "intercommunityVat": null,
                                    "vat": null,
                                    "siren": null,
                                    "naf": null,
                                    "iban": null,
                                    "accountName": null,
                                    "swift": null,
                                    "addressOption": null,
                                    "addresses": [],
                                    "customerImg": [
                                        ""
                                    ],
                                    "created_at": ""
                                }
                            }
                        ]
                    }
                ]
            }


## User Update [/users/{id}]
### User Update [POST]
Update User

+ Request (application/json)

        {
            "id": 5,
            "isGuest": false,
            "isCustomer": false,
            "isActive": true,
            "civility": "mrs",
            "firstName": "Syiwa",
            "lastName": "Tes",
            "email": "syiwa.ws@smooets.com",
            "company": {
                "id": 9,
                "address": {
                    "id": 34,
                    "address1": "Paris",
                    "address2": null,
                    "zipcode": "83470",
                    "city": "Var",
                    "country": "Prancis",
                    "lat": 43.4941437,
                    "lng": 5.8932809
                },
                "fullName": "TEST 12",
                "tradeName": "TEST14JULY",
                "raisonSociale": {
                    "id": 1,
                    "code": "M01",
                    "label": "SOCIETE"
                },
                "intercommunityVat": "TSET11001010",
                "naf": "TEST10101010",
                "siren": null,
                "vat": null,
                "vatOption": 1
            },
            "customers": [
                {
                    "id": 14,
                    "fullName": "Ellison Harmon LLC",
                    "tradeName": "Freya Chang",
                    "vatOption": 0,
                    "active": 1,
                    "intercommunityVat": "315",
                    "vat": null,
                    "siren": null,
                    "naf": "1307007",
                    "iban": "FR7630004003200001019471656",
                    "accountName": "Bo Ewing",
                    "swift": "FRFRFR76300",
                    "addressOption": 1,
                    "addresses": [
                        {
                            "id": 19,
                            "addressType": "headquarter",
                            "address": {
                                "id": 52,
                                "address1": "54 West Clarendon Parkway",
                                "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                "zipcode": "80534",
                                "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                "lat": 48.6670602,
                                "lng": 1.8179955
                            }
                        },
                        {
                            "id": 20,
                            "addressType": "billing",
                            "address": {
                                "id": 53,
                                "address1": "40 Old Court",
                                "address2": "Iusto et minus quaerat quia at sint aut eligendi minima mollitia minus in ut expedita aliquid mollitia",
                                "zipcode": "55185",
                                "city": "Nulla perferendis sint itaque voluptas doloribus nisi fuga Similique pariatur Expedita qui aliquam excepturi cupiditate deserunt voluptatem",
                                "country": "Natus quas tempore excepteur expedita praesentium tempore ea",
                                "lat": 48.6670602,
                                "lng": 1.8179955
                            }
                        }
                    ],
                    "customerImg": [
                        ""
                    ],
                    "created_at": "2017-07-15 12:32:57",
                    "contact": {
                        "id": 10,
                        "civility": "mrs",
                        "lastName": "Newton",
                        "firstName": "Stuart",
                        "email": "dozuda@yahoo.com",
                        "mobilePhone": "472161442896",
                        "officePhone": "663774958368",
                        "jobTitle": "Magna exercitationem nesciunt blanditiis aut labore nulla",
                        "isGuest": false,
                        "isCustomer": true,
                        "isActive": true,
                        "profilePicPath": null,
                        "customers": [
                            14
                        ],
                        "roles": [
                            2
                        ],
                        "company": {
                            "id": 12,
                            "address": {
                                "id": 52,
                                "address1": "54 West Clarendon Parkway",
                                "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                "zipcode": "80534",
                                "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                "lat": 48.6670602,
                                "lng": 1.8179955
                            },
                            "fullName": "Ellison Harmon LLC",
                            "tradeName": "Freya Chang",
                            "raisonSociale": {
                                "id": 16,
                                "code": "M44",
                                "label": "MUTUELLE"
                            },
                            "intercommunityVat": "315",
                            "naf": "1307007",
                            "siren": null,
                            "vat": null,
                            "vatOption": 0
                        }
                    },
                    "raisonSociale": {
                        "id": 16,
                        "code": "M44",
                        "label": "MUTUELLE"
                    },
                    "company": {
                        "id": 12,
                        "address": {
                            "id": 52,
                            "address1": "54 West Clarendon Parkway",
                            "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                            "zipcode": "80534",
                            "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                            "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                            "lat": 48.6670602,
                            "lng": 1.8179955
                        },
                        "fullName": "Ellison Harmon LLC",
                        "tradeName": "Freya Chang",
                        "raisonSociale": {
                            "id": 16,
                            "code": "M44",
                            "label": "MUTUELLE"
                        },
                        "intercommunityVat": "315",
                        "naf": "1307007",
                        "siren": null,
                        "vat": null,
                        "vatOption": 0
                    }
                }
            ],
            "jobTitle": "CEO",
            "roles": [
                {
                    "name": "Broker",
                    "description": "Broker",
                    "permissions": {
                        "user": [
                            "create",
                            "delete",
                            "update",
                            "read"
                        ],
                        "building": [
                            "create",
                            "delete",
                            "update",
                            "read"
                        ]
                    }
                },
                {
                    "id": 2,
                    "name": "Admin Client",
                    "slug": "admin-client",
                    "description": null,
                    "protected": true,
                    "permissions": {
                        "user": [
                            "create",
                            "delete",
                            "update",
                            "read"
                        ],
                        "building": [
                            "create",
                            "delete",
                            "update",
                            "read"
                        ]
                    }
                }
            ]
        }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 5,
                    "isGuest": false,
                    "isCustomer": false,
                    "isActive": true,
                    "civility": "mrs",
                    "firstName": "Syiwa",
                    "lastName": "Tes",
                    "email": "syiwa.ws@smooets.com",
                    "company": {
                        "id": 9,
                        "address": {
                            "id": 34,
                            "address1": "Paris",
                            "address2": null,
                            "zipcode": "83470",
                            "city": "Var",
                            "country": "Prancis",
                            "lat": 43.4941437,
                            "lng": 5.8932809
                        },
                        "fullName": "TEST 12",
                        "tradeName": "TEST14JULY",
                        "raisonSociale": {
                            "id": 1,
                            "code": "M01",
                            "label": "SOCIETE"
                        },
                        "intercommunityVat": "TSET11001010",
                        "naf": "TEST10101010",
                        "siren": null,
                        "vat": null,
                        "vatOption": 1
                    },
                    "customers": [
                        {
                            "id": 14,
                            "fullName": "Ellison Harmon LLC",
                            "tradeName": "Freya Chang",
                            "vatOption": 0,
                            "active": 1,
                            "intercommunityVat": "315",
                            "vat": null,
                            "siren": null,
                            "naf": "1307007",
                            "iban": "FR7630004003200001019471656",
                            "accountName": "Bo Ewing",
                            "swift": "FRFRFR76300",
                            "addressOption": 1,
                            "addresses": [
                                {
                                    "id": 19,
                                    "addressType": "headquarter",
                                    "address": {
                                        "id": 52,
                                        "address1": "54 West Clarendon Parkway",
                                        "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                        "zipcode": "80534",
                                        "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                        "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                        "lat": 48.6670602,
                                        "lng": 1.8179955
                                    }
                                },
                                {
                                    "id": 20,
                                    "addressType": "billing",
                                    "address": {
                                        "id": 53,
                                        "address1": "40 Old Court",
                                        "address2": "Iusto et minus quaerat quia at sint aut eligendi minima mollitia minus in ut expedita aliquid mollitia",
                                        "zipcode": "55185",
                                        "city": "Nulla perferendis sint itaque voluptas doloribus nisi fuga Similique pariatur Expedita qui aliquam excepturi cupiditate deserunt voluptatem",
                                        "country": "Natus quas tempore excepteur expedita praesentium tempore ea",
                                        "lat": 48.6670602,
                                        "lng": 1.8179955
                                    }
                                }
                            ],
                            "customerImg": [
                                ""
                            ],
                            "created_at": "2017-07-15 12:32:57",
                            "contact": {
                                "id": 10,
                                "civility": "mrs",
                                "lastName": "Newton",
                                "firstName": "Stuart",
                                "email": "dozuda@yahoo.com",
                                "mobilePhone": "472161442896",
                                "officePhone": "663774958368",
                                "jobTitle": "Magna exercitationem nesciunt blanditiis aut labore nulla",
                                "isGuest": false,
                                "isCustomer": true,
                                "isActive": true,
                                "profilePicPath": null,
                                "customers": [
                                    14
                                ],
                                "roles": [
                                    2
                                ],
                                "company": {
                                    "id": 12,
                                    "address": {
                                        "id": 52,
                                        "address1": "54 West Clarendon Parkway",
                                        "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                        "zipcode": "80534",
                                        "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                        "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                        "lat": 48.6670602,
                                        "lng": 1.8179955
                                    },
                                    "fullName": "Ellison Harmon LLC",
                                    "tradeName": "Freya Chang",
                                    "raisonSociale": {
                                        "id": 16,
                                        "code": "M44",
                                        "label": "MUTUELLE"
                                    },
                                    "intercommunityVat": "315",
                                    "naf": "1307007",
                                    "siren": null,
                                    "vat": null,
                                    "vatOption": 0
                                }
                            },
                            "raisonSociale": {
                                "id": 16,
                                "code": "M44",
                                "label": "MUTUELLE"
                            },
                            "company": {
                                "id": 12,
                                "address": {
                                    "id": 52,
                                    "address1": "54 West Clarendon Parkway",
                                    "address2": "Nihil iste cupidatat aliquid commodo ut ex dolores ut deserunt expedita aut irure ex dolor veniam voluptas qui",
                                    "zipcode": "80534",
                                    "city": "Dolorem nemo porro consequatur Est molestiae ad ex nisi unde deserunt quasi",
                                    "country": "Qui itaque est accusantium a esse rem omnis odio non nihil ratione exercitationem dolorem soluta cupiditate",
                                    "lat": 48.6670602,
                                    "lng": 1.8179955
                                },
                                "fullName": "Ellison Harmon LLC",
                                "tradeName": "Freya Chang",
                                "raisonSociale": {
                                    "id": 16,
                                    "code": "M44",
                                    "label": "MUTUELLE"
                                },
                                "intercommunityVat": "315",
                                "naf": "1307007",
                                "siren": null,
                                "vat": null,
                                "vatOption": 0
                            }
                        }
                    ],
                    "jobTitle": "CEO",
                    "roles": [
                        {
                            "id": 1,
                            "name": "Super Admin",
                            "slug": "super-admin",
                            "description": null,
                            "protected": true,
                            "permissions": [
                                {
                                    "user.create": true
                                },
                                {
                                    "user.read": true
                                },
                                {
                                    "user.update": true
                                },
                                {
                                    "user.delete": true
                                },
                                {
                                    "role.create": true
                                },
                                {
                                    "role.read": true
                                },
                                {
                                    "role.update": true
                                },
                                {
                                    "role.delete": true
                                },
                                {
                                    "portfolio.create": true
                                },
                                {
                                    "portfolio.read": true
                                },
                                {
                                    "portfolio.update": true
                                },
                                {
                                    "portfolio.delete": true
                                },
                                {
                                    "property.create": true
                                },
                                {
                                    "property.read": true
                                },
                                {
                                    "property.update": true
                                },
                                {
                                    "property.delete": true
                                },
                                {
                                    "lot.create": true
                                },
                                {
                                    "lot.read": true
                                },
                                {
                                    "lot.update": true
                                },
                                {
                                    "lot.delete": true
                                },
                                {
                                    "bail.create": true
                                },
                                {
                                    "bail.read": true
                                },
                                {
                                    "bail.update": true
                                },
                                {
                                    "bail.delete": true
                                },
                                {
                                    "prospect.create": true
                                },
                                {
                                    "prospect.read": true
                                },
                                {
                                    "prospect.update": true
                                },
                                {
                                    "prospect.delete": true
                                },
                                {
                                    "competitor.create": true
                                },
                                {
[...]
